@import "_conf.scss";
@import "_colors.scss";
@import "_measures.scss";
@import "_mixins.scss";

h1 {
  font-size: $font-largest-size + px;
}

h2 {
  font-size: ceil($font-largest-size * 0.7) + px;
}

h3 {
  font-size: ceil($font-largest-size * 0.5) + px;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: normal;

  @if $weight {
    font-weight: 700;
  }
  @if $uppercase {
    text-transform: uppercase;
  }
  @include color-set("transparent", $color-ci-one);
  &.invert {
    @include color-set(lighten($color-light-one, 10%), $color-ci-one);
  }
}
.image {
  margin: $space-global-two 0;
}
.title {
  margin: $space-global-two 0;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.v-center {
  align-items: center;
  width: 100vw;
  display: flex;
}

.v-h-center {
  align-items: center;
  justify-content: center;
  width: 100vw;
  display: flex;
}

.container {
  background-color: darken($color-light-one, 5%);
  min-height: 100vh;
  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.close {
  position: relative;
  border-radius: 50%;
  right: -3px;
  top: 1px;
  width: 32px;
  height: 32px;
  background-color: transparent;

  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    content: " ";
    top: 0;
    height: 32px;
    width: 2px;
    background-color: rgba($color-ci-one, 1);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.header {
  position: fixed;
  padding: $space-global-two 0;
  background-color: $color-light-one;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.content {
  margin-top: $space-global-two;
}

.txt-right {
  text-align: right;
}

p,
.paragraph {
  padding: $space-global-two;
  font-size: ceil($font-largest-size * 0.38) + px;
}

.buttons {
  margin: $space-global-two 0;
  &.vertical {
    > div {
      margin-bottom: $space-global-two;
    }
  }
}

.skip {
  margin: 0;
  width: 100%;
  background-color: $color-light-one;
  padding: $space-global-two/2;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
}

.dn {
  display: none;
}

.trans-bg {
  background-color: rgba($color-light-one, 0.5);
  padding: $space-global-one;
  @if $round {
    border-radius: $radius-global-one * 4;
  }
}

button {
  border: none;
  text-transform: none;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: $space-global-one/2 $space-global-two;
  @include color-set($color-ci-one, lighten($color-ci-one, 40%));

  &:focus {
    outline: 0;
    background-color: complement($color-ci-one);
  }
  &.xl,
  &.xxl {
    padding-top: $space-global-one;
    padding-bottom: $space-global-one;
    font-size: ceil($font-largest-size * 0.7) + px;
    @if $weight {
      font-weight: 700;
    }
    @if $round {
      border-radius: $radius-global-one * 3;
    }
  }
  @if $round {
    border-radius: $radius-global-one;
  }
  @if $uppercase {
    text-transform: uppercase;
  }
  @if $weight {
    font-weight: 700;
  }

  &.light {
    background: transparent;
    border: 1px solid lighten($color-ci-one, 50%);
    color: $color-ci-one;
  }

  &.invert {
    @include color-set(lighten($color-ci-one, 40%), $color-ci-one);
    &:focus {
      outline: 0;
      @include color-set(
        complement(lighten($color-ci-one, 10%)),
        complement($color-ci-one)
      );
    }
  }
  &.custom {
    @include color-set($color-custom-one, $color-custom-two);
    &:focus {
      outline: 0;
      @include color-set(
        complement($color-custom-one),
        complement($color-custom-two)
      );
    }
    &.invert {
      @include color-set($color-custom-two, $color-custom-one);
      &:focus {
        outline: 0;
        @include color-set(
          complement($color-custom-two),
          complement($color-custom-one)
        );
      }
    }
  }
}
