// values
$radius-global-one: 4px;
$space-global-one: 30px;
$space-global-two: 10px;

// lvls
$lvl-height: 70px;

.space-margin-global-one {
  margin: $space-global-one $space-global-one $space-global-one
    $space-global-one;
  &.top {
    margin: $space-global-one 0 0 0;
  }
  &.right {
    margin: 0 $space-global-one 0 0;
  }
  &.bottom {
    margin: 0 0 $space-global-one 0;
  }
  &.left {
    margin: 0 0 0 $space-global-one;
  }
}
.space-margin-global-two {
  margin: $space-global-two $space-global-two $space-global-two
    $space-global-two;
  &.top {
    margin: $space-global-two 0 0 0;
  }
  &.right {
    margin: 0 $space-global-two 0 0;
  }
  &.bottom {
    margin: 0 0 $space-global-two 0;
  }
  &.left {
    margin: 0 0 0 $space-global-two;
  }
}
.space-padding-global-one {
  padding: $space-global-one;
}
.space-padding-global-two {
  padding: $space-global-one;
}
