@import "../styles/conf";
@import "../styles/_colors";
@import "../styles/_measures";
@import "../styles/mixins";

.level-selection {
  position: relative;
  // .close {
  //   width: 30px;
  //   height: 30px;
  //   border-radius: 50%;
  //   position: relative;

  //   span {
  //     font-size: $font-largest-size + px;
  //     font-weight: 300;
  //     line-height: 0;
  //     position: absolute;
  //     left: 7px;
  //     top: 12px;
  //   }
  // }
}
.content {
  width: 100%;
  h1,
  h2,
  h3,
  h4 {
    width: 100%;
    text-align: center;
    margin-bottom: $space-global-two/2;
  }
}

.level-selector {
  // @include color-set(lighten($color-highlight-one, 12%), $color-dark-one);
  justify-content: space-between;
  flex-wrap: nowrap;
  // border: 2px solid $color-ci-one;
  box-sizing: border-box;
  background-color: lighten($color-light-one, 20%);
  margin: $space-global-one 0;
  width: 100%;
  height: 80px;
  padding: 2px;

  @if $round {
    border-radius: $radius-global-one * 2;
  }

  > div {
    flex: 1 0;
    min-height: $lvl-height;
    display: flex;
    color: rgba($color-ci-one, 0.2);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: $font-largest-size + px;

    &:nth-child(1) {
      border-right: 1px solid lighten($color-ci-one, 0%);
      &.selected {
        color: lighten($color-ci-one, 100%);
        background-color: rgba($color-ci-one, 0.25);
      }
      @if $round {
        border-radius: ($radius-global-one * 2) 0 0 ($radius-global-one * 2);
      }
    }
    &:nth-child(2) {
      border-right: 1px solid lighten($color-ci-one, 0%);
      &.selected {
        color: lighten($color-ci-one, 100%);
        background-color: rgba($color-ci-one, 0.5);
      }
    }
    &:nth-child(3) {
      border-right: 1px solid lighten($color-ci-one, 0%);
      &.selected {
        color: lighten($color-ci-one, 100%);
        background-color: rgba($color-ci-one, 0.75);
      }
    }
    &:nth-child(4) {
      @if $round {
        border-radius: 0 ($radius-global-one * 2) ($radius-global-one * 2) 0;
      }
      &.selected {
        color: lighten($color-ci-one, 100%);
        background-color: rgba($color-ci-one, 1);
      }
    }
  }
}
