@import "../styles/conf";
@import "../styles/measures";
@import "../styles/colors";

.results {
  .header {
    text-align: center;
  }
}

.result-list {
  .score {
    margin: ($space-global-two * 6) 0 ($space-global-one) 0;
    h1 {
      margin-bottom: $space-global-two;
      font-size: $font-largest-size * 2 + px;
      font-weight: 700;
      letter-spacing: -3px;
    }
  }
}
.details {
  text-align: center;
  h2 {
    margin-bottom: 0;
    margin-top: $space-global-one;
    padding-bottom: $space-global-two/2;
    border-bottom: 1px solid lighten($color-ci-one, 20%);
  }
  .advice {
    background-color: $color-highlight-one;
  }
}

//bar animation

.bar-wrap {
  margin-bottom: $space-global-two * 1.5;
  //   border-bottom: 1px dashed lighten($color-ci-one, 20%);
  &.last {
    border-bottom: none;
    margin-bottom: $space-global-one;
  }
}

.label {
  font-size: $font-largest-size * 0.35 + px;
  margin-bottom: $space-global-two;
  color: $color-dark-one;
}

.bar {
  width: 100vw;
  min-height: $space-global-two;
  background-color: $color-ci-one;
  color: lighten($color-ci-one, 60%);
  border: 1px solid lighten($color-ci-one, 0%);
  margin-bottom: $space-global-two/2;
  animation-duration: 5s;
  @if $round {
    border-radius: $radius-global-one * 4;
  }
  &.bar_0 {
    width: 30%;
    animation-name: bar_animate_0;
  }
  &.bar_1 {
    width: 50%;
    animation-name: bar_animate_1;
  }
  &.bar_2 {
    width: 60%;
    animation-name: bar_animate_2;
  }
  &.bar_3 {
    width: 70%;
    animation-name: bar_animate_3;
  }
  &.bar_4 {
    width: 75%;
    animation-name: bar_animate_4;
  }
  &.bar_5 {
    width: 100%;
    animation-name: bar_animate_5;
  }
}

$percentages: (30, 50, 60, 65, 75, 100);
$factor: 20;
$interval: 0.5;
$previousAnimation: 0;
@for $i from 1 through 6 {
  @keyframes bar_animate_#{$i - 1} {
    @if $i > 2 {
      $previousAnimation: $previousAnimation +
        ($factor * nth($percentages, $i - 1) / 100) +
        $interval;
      0%,
      #{($previousAnimation)}% {
        transform: scaleX(0);
        transform-origin: left;
      }
    } @else if $i == 2 {
      $previousAnimation: $previousAnimation +
        ($factor * nth($percentages, $i - 1) / 100) +
        $interval;
      0%,
      #{$previousAnimation }% {
        transform: scaleX(0);
        transform-origin: left;
      }
    } @else {
      0% {
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    #{$previousAnimation+($factor * nth($percentages, $i) / 100)}%,
    100% {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
