@import "../styles/measures";
.splash {
  h1,
  h2,
  h3 {
    width: 100%;
    text-align: center;
    margin: $space-global-two/2 0;
  }
  p {
    text-align: center;
    margin-top: $space-global-two/2;

    &:nth-last-of-type(1) {
      margin: 0 0 $space-global-one 0;
    }
  }
}
