/* .SlideIn-container {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
   max-height:100%;
}
.SlideIn-inner-container {
   position:absolute;
   width:100%;
   height:100%;
   max-height:100%;
   top:0;
   left:0;
   opacity:0.0;
   transition:opacity 0.5s;
}

.SlideIn-inner-container.shown {
   opacity: 1.0;
} */