// reset n normalized
@import "css-reset-and-normalize/scss/reset-and-normalize";

// solid font
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap");
@import "https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap";
// @import "https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap";
@import "./styles/_conf";
@import "./styles/_elements";
@import "./styles/_flexgrid";

// ONLY FOR TEST/PRESENTATION - REMOVE FOR PROD
.test-image {
  background: url("https://picsum.photos/seed/picsum/800/1000");
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  //font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  // font-family: "Liu Jian Mao Cao", cursive;
}
